*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    height: 200px;
    background-color: #222;
}
.container{
    width: 70%;
    margin-left: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper{
    width: 100%;
    height: fit-content;
}
.swiper-slide img{
    width: 100%;
    height: fit-content;

}
.swiper .swiper-button-prev ,.swiper .swiper-button-next{
    color: #fff;
}
.swiper .swiper-pagination-bullet-active{
    background: white;
}
.listimage {
    display: flex;
    margin-left: 15%;
    margin-top: 2%;
    width: 70%;
}

.image{
    width: 30%;
    margin-left: 3%;
}
.image:first-child{
    margin-left: 0%;
}
.image img{
    width: 100%;
}

.image img:hover{
    transform: scale(1.05);
}
.overlay {
  position:absolute;
  margin-left: 0;
  bottom: 5%;
  width: 21%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  text-align: center;
  padding: 5px;
  font-size: 16px;
  opacity: 0;
  transition: opacity 0.4s ease;
}
.image:hover .overlay {
  opacity: 1;
}



